<div class="row" data-equalizer data-equalize-on="medium" id="test-eq">
<div class="medium-4 columns">
  <div class="callout" data-equalizer-watch>
    <%= image_tag "space2.jpg", alt: "Space Photo" %>
  </div>
</div>
<div class="medium-4 columns">
  <div class="callout" data-equalizer-watch>
    <%= image_tag "space3.jpg", alt: "Space Photo" %>

  </div>
</div>
<div class="medium-4 columns">
  <div class="callout" data-equalizer-watch>
    <%= image_tag "space1.jpg", alt: "Space Photo" %>
  </div>
</div>
</div>
